<template>
  <v-container>
    <v-row class="text-justify">
        
      <v-col cols="12" sm="6" md="4" v-for="items in json" v-bind:key="items.id">
        <v-card class="v-card-index">
          
          <v-img height="100" width="30" :src="items.image_url"></v-img>
          <v-rating
          :value=items.abv
          color="amber"
          dense
          length="15"
          half-increments
          readonly
          size="14"
        ></v-rating> 

        <div class="grey--text ms-4">
         {{items.abv}}
        </div>
          <v-card-title>{{ items.name }}</v-card-title>
          <v-card-text class="textInfo">{{ items.description}}</v-card-text>
          <v-divider class="mx-4"></v-divider>
          <v-card-actions>
            <v-btn @click="setCurrentItem(items)" color="indigo darken-2" text >More info</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>

     
    </v-row>

    <v-dialog  class="maxH" 
        v-model="dialog"
        >
        <v-card class="maxH">
          <v-toolbar
          dark
          color="amber darken-4"
        >
          <v-btn
            icon
            dark
            @click="dialog = false"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>Information</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
          <v-img class="v-image-dialog" height="100" width="30" :src="currentItem.image_url"></v-img>
          <v-rating
          :value=currentItem.abv
          color="amber"
          dense
          
          length="15"
          half-increments
          readonly
          size="14"
        ></v-rating> 

        <div class="grey--text ms-4">
         {{currentItem.abv}}
        </div>
          <v-card-title>{{ currentItem.name }}</v-card-title>
          <v-card-title>Description:</v-card-title>
          <v-card-text >{{ currentItem.description}}</v-card-text>
          <v-card-title>Tips:</v-card-title>
          <v-card-text >{{ currentItem.brewers_tips}}</v-card-text>

          <v-card-title>Malt:</v-card-title>
          <v-card-text v-for="item in currentItem.ingredients.malt" v-bind:key="item.amount.value + item.name">{{item.name}} : {{item.amount.value}} {{item.amount.unit}}</v-card-text>


          <v-card-title>Hops:</v-card-title>
          <v-card-text v-for="item in currentItem.ingredients.hops" v-bind:key="item.amount.value + item.name">{{item.name}} : {{item.amount.value}} {{item.amount.unit}}</v-card-text>


          <v-divider class="mx-4"></v-divider>
          <v-card-actions>
            <v-btn @click="dialog = false" color="red" text >Close</v-btn>
          </v-card-actions>
        </v-card>
    </v-dialog>
    
  </v-container>
</template>

<script>
  import { mainServices } from './../services/mainServices'
  import store from './../stores/storeGeneric'
 

  export default {
    name: 'mainLayout',

    props: {
    title: String,
    json: Array
  },
    
    data(){
      return {
        resultsJson: null,
        dialog : false,
        currentItem : null
   
      }
    },
    methods:{
      getAllData: async function(){
        console.log("Get all data from main module 🍺 🍺 ");
        let servicesLocal = new mainServices();
        this.resultsJson = await servicesLocal.getAllDataEndPoint();
        console.log("Save data to pinia-vuex 🍍 ");
        this.currentItem = this.resultsJson[0];
        store.commit('setBeers', this.resultsJson);
 
      },

      setCurrentItem: function(item){
        store.commit('setCurrentItem', item);
        console.log("Set current item 👾 ");
        console.log(item);
        this.dialog= true;
        this.currentItem=store.state.oneBeer;
      }
    },
    mounted(){
      console.log("System mounted 🛫 ");
      this.getAllData();
    }
  }
</script>
<style scope>
  .v-card-index{
    height : 400px;
    overflow : hidden;
    border-radius: 10px !important;
    
  }
  
  .v-image{
    margin: auto;
    margin-top: 20px !important;

  }

  .v-image-dialog{
    height: 350px !important;
    width: 85px !important;
  
  }

  .textInfo{
    height:100px;
    overflow: hidden;
  }
  .maxH{
    max-height:1500px;
  }
</style>