<template>
  <v-app>
    <v-app-bar
      app
      color="amber"
      dark
    >
      <div class="d-flex align-center">
        <v-img
          alt="Logo"
          class="shrink mr-2"
          contain
          src="../public/images/beer.png"
          transition="scale-transition"
          width="40"
        />

        <h3>Beer API</h3>
      </div>

      <v-spacer></v-spacer>
      <v-btn
        fab
        dark
        small    
        color="teal darken-4"
        @click="prev"
      >
        <v-icon>mdi-skip-previous</v-icon>
      </v-btn>
      <v-btn
        fab
        dark
        small    
        color="teal darken-4"
        @click = "next"
      >
        <v-icon>mdi-skip-next</v-icon>
      </v-btn>


      <v-btn
        fab
        dark
        small    
        color="light-blue darken-4"
        @click="add"
      >
        <v-icon>mdi-plus</v-icon>
      </v-btn>

      <v-btn
        fab
        dark
        small    
        color="light-blue darken-4"
        @click="minus"
      >
        <v-icon>mdi-minus</v-icon>
      </v-btn>

      
    </v-app-bar>

    <v-main>
      <mainLayout :title="title" :json="json"/>
    </v-main>
  </v-app>
</template>

<script>
import mainLayout from './components/pages/mainLayout';
import store from './components/stores/storeGeneric'
import {mainServices} from './components/services/mainServices'


export default {
  name: 'App',

  components: {
    mainLayout,
  },
  mounted(){
  console.log("System mounted 🛫 ");
  this.refresh();
},

  data: () => ({
    title: "hello",
    json : null
  }),
  methods: {
    add: function(){
      store.commit('add');
      this.refresh();
  
    },
    minus: function(){
      store.commit('minus');
      this.refresh();
    },
    next: function(){
      store.commit('next');
      this.refresh();
    },
    prev: function(){
      store.commit('prev');
      this.refresh();
    },
    refresh: async function(){
      let servicesLocal = new mainServices();
      let resultsJson = await servicesLocal.getAllDataEndPoint();
      console.log("Save data to pinia-vuex 🍍 ");
      store.commit('setBeers', resultsJson);

      this.json = resultsJson;
      console.log(store.state.beers);
    }
  }
};
</script>



<style scoped>
  .v-btn{
    margin:10px;
  }
</style>